.menu-item {
  margin: 15px 0 15px;
  display: flex;
  justify-content: space-between;
}

img {
  width: 40%;
  height: 170px;
  object-fit: cover;
  border: 5px solid #c59d5f;
  border-radius: 5px;
}

.info {
  width: 50%;
}

.title-price {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px dotted #888;
}

h2 {
  margin: 5px 0;
  font-size: 20px;
  text-transform: capitalize;
  line-height: 20px;
}

h3 {
  margin: 5px 0;
  color: #c59d5f;
  font-size: 17px;
  line-height: 20px;
}

p {
  color: #666;
}
